<main class="form-signin w-100 m-auto d-flex flex-column justify-content-center align-items-center" style="max-width: 500px; min-height: 100vh;">
    <form class="w-100">
        <div style="text-align: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="160" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
        </svg>
        </div>

        <h1 class="h3 mb-3 fw-normal text-center">Faça o Login</h1>
        
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Password">
            <label for="senha">Senha</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
</main>
